@use "mixins" as m;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;

  font-family: 'rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: m.$body-color;

  #root {
    height: 100%;

    & > div {
      height: 100%;

    }
  }
}