$body-color: rgb(254,236,224);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $body-color;
}