.header {
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2vh;
    width: 100%;
    
    font-size: calc(14px + 2vmin);
    font-weight: 700;
    font-style: normal;

    .logo {
      padding-left: 2vh;
      padding-right: 1vh;
      height: 4vh;
      width: 4vh;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }  
}
