
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  .main {
    canvas {
        // display: none;
        // display: block;
        // position: absolute;
        // z-index: -5;
        // top: 0;
    }
    video {
        display: block;
        position: absolute;
        z-index: -5;
        // display: none;
        // position:absolute;
        // height: 100%;
    }
  }
  
}