@use '../mixins' as m;
@use '../public/fonts/knewave/stylesheet.css';

$homeBorderRadius: 15vw;

/*Moc Animation*/
@-webkit-keyframes moc-animation {
  0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
 }
  50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
 }
  100% {
      -webkit-transform: translateY(-25px);
      transform: translateY(-25px);
 }
}
@keyframes moc-animation {
  0% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
 }
  50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
 }
  100% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
 }
}

.home {
  height: 100%;
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  &::-webkit-scrollbar {
    width: 2px;
  }

  .MuiGrid-item {
    overflow: hidden;
    .MuiPaper-root {
      border-radius: 0;
      padding-left: 2vw;
    }
  }

  h3{
    font-size: 1.5em;
  }

  .logo-section {
    background: white;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      background-color: m.$homePink;
      border-radius: 0px 0px $homeBorderRadius $homeBorderRadius;

      color: #ceeeea;
      font-family: rubik, sans-serif; 
      font-weight: 800;

      padding: 1em;
      font-size: 2em;

      .logo {
        padding-right: 1vh;
        height: 6vh;
        width: 6vh;

        svg {
          color: currentColor;
        }
      }  
    }

  }
  
  .title-section {
    .MuiPaper-root {
      background-color: white;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4em;

      h1.main-title  {
        padding-top: 1em;
        font-size: 5em;
        font-weight: 1000;
        line-height: 1.1;
        margin: 0 0 10px;
        color: #fff;
        font-style: normal;
        text-align: center;

        div:nth-child(1) {
          color: m.$titleLightBlue;
          font-family: satisfy, sans-serif; 
          font-weight: 400;

        }
        
        div:nth-child(2) {
          color: m.$titleBrown;
          font-family: playfair-display, serif;
          font-weight: 700;
        }

        div:nth-child(3) {
          color: m.$titlePurple;            
          font-family: KnewaveRegular, serif;
        }
      
      }

      .subtitle {
        font-size: 2.5em;
        font-family: rubik, sans-serif; 
        font-weight: 200;
        color: m.$homeBlack;
      }

      .content {
        font-size: 1.1em;
        text-align: center;
        color: m.$homeBlack;
        padding-bottom: 15px;
        font-family: rubik, sans-serif; 
        font-weight: 400;
      }

    }
    .call-to-action {
      background-color: m.$homePink;
      width: 80%;
      @include m.roundedButton;
    }
  }


  .meme-section {
    .MuiPaper-root {
      text-align: center;
    }
  }

  .mobile-preview {
    position: relative;
    display: none;

    .MuiPaper-root {
      background-color: pink;

      .phone {
        background-image: url(../public/images/phone-moc.png);
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        width: 100%;
        height: 100%;
        // right: 100px;
        bottom: -60px;
        animation-name: moc-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        // z-index: -1;
      }
    }

  }

  .privacy {

    .MuiPaper-root {
      text-align: center;

      .title {
        color: m.$homePink;

        :nth-child(1) {
          font-family: KnewaveRegular, serif;
          font-size: 2em;
          font-weight: 400;

        }

        :nth-child(2) {
          font-family: playfair-display, serif;
          font-weight: 700;
          font-size: 1.5em;
        }

      }

      .content {
        font-size: 1.1em;
        font-weight: 400;
        font-family: rubik, sans-serif; 

        &.color{
          color: m.$homePink;
        }
      }
    }
  }

  .about-us {
    background: white;
    .MuiPaper-root {
      text-align: center;
      padding: 0;

      .content {
        position: relative;
        .content-inner {
          font-weight: 400;
          font-family: rubik, sans-serif; 
          background-color: m.$homeYellow;
          color: m.$homeBlack;
          border-radius: $homeBorderRadius $homeBorderRadius 0px 0px ;
    
          &::before {
            content:url('../public/images/duck-in-circle.png'); /* with class ModalCarrot ??*/
            position: absolute;
            z-index: 100000;
            left: calc(50% - 5em);
            top: -5em;
            width: 10em;
  
          }
    
          h3 {
            font-family: satisfy, sans-serif; 
            font-weight: 400;
            font-size: 3em;
            padding-top: 2em;
            color: m.$homePink;
          }
          p {
            font-size: 1.1em;
            padding: 0 1em;
          }
          .coffee-wrapper {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            text-align: center;
          }
        }

      }
    }
  }
}
