@use "../mixins" as m;

.snap-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  canvas {
    background-size: cover;
    background-position: center;
  }

  .download-button {
    position: absolute;
    right: 1vh;
    top: 1vh;
  }

  .app-control {
    position: absolute;
    bottom: 0;
    top: auto;
    width:100%;
    background-color: m.$body-color;
    //border-radius: m.$border-radius;
  }
  
}