@use "../mixins" as m;

.snap-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  img.loader {
    width: 100%;
    display: none;
  }

  .app-control {
    position: absolute;
    bottom: 0;
    top: auto;
    width:100%;
    background-color: m.$body-color;
    //border-radius: m.$border-radius;
  }
  
}