.snap-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  img.loader {
    width: 100%;
    display: none;
  }


  .app-control {
    position: absolute;
    right: calc(50% - 28px);
    bottom: 0;
    top: auto;
    margin-bottom: 2vh;
  }
  
}